server/.env
server/.env.production
server/all-kanye-backend
*.log
test_*
# AGENTS.md
.DS_Store
server/database.sqlite
server/database.sqlite-shm
server/database.sqlite-wal
server/uploads

nginx/ssl/*.pem
nginx/ssl/*.key
nginx/ssl/*.crt
web/node_modules
web/dist
web/.env.development
web/.env.production