services:
  frontend:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./server/.env:/app/.env:ro
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
